<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e3b7dc">  <td>23/11/26 20:47:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddEmployee.AddEmployes()[pri:4, instance:Add_Employee.AddEmployee@1cf6d1be]">AddEmployes</td> 
  <td>main@1704491411</td>   <td></td> </tr>
<tr bgcolor="e3b7dc">  <td>23/11/26 20:46:01</td>   <td>-66093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddEmployee.Bulk_Employee_Upload()[pri:0, instance:Add_Employee.AddEmployee@1cf6d1be]">Bulk_Employee_Upload</td> 
  <td>main@1704491411</td>   <td></td> </tr>
<tr bgcolor="e3b7dc">  <td>23/11/26 20:47:08</td>   <td>1199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddEmployee.afterMethod()[pri:0, instance:Add_Employee.AddEmployee@1cf6d1be]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1704491411</td>   <td></td> </tr>
<tr bgcolor="e3b7dc">  <td>23/11/26 20:47:08</td>   <td>1199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AddEmployee.afterMethod()[pri:0, instance:Add_Employee.AddEmployee@1cf6d1be]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1704491411</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>23/11/26 20:47:08</td>   <td>1290</td> <td title="&lt;&lt;Baseclass.afterSuite()[pri:0, instance:Add_Employee.AddEmployee@1cf6d1be]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1704491411</td>   <td></td> </tr>
<tr bgcolor="e3b7dc">  <td>23/11/26 20:46:01</td>   <td>-65444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddEmployee.beforeMethod()[pri:0, instance:Add_Employee.AddEmployee@1cf6d1be]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1704491411</td>   <td></td> </tr>
<tr bgcolor="e3b7dc">  <td>23/11/26 20:46:01</td>   <td>-65444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddEmployee.beforeMethod()[pri:0, instance:Add_Employee.AddEmployee@1cf6d1be]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1704491411</td>   <td></td> </tr>
<tr bgcolor="ad9bc1">  <td>23/11/26 20:44:51</td>   <td>-135407</td> <td title="&gt;&gt;Baseclass.loadConfig()[pri:0, instance:Add_Employee.AddEmployee@1cf6d1be]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1704491411</td>   <td></td> </tr>
</table>
