<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7aa073">  <td>23/11/25 18:08:35</td>   <td>0</td> <td title="&gt;&gt;Baseclass.loadConfig()[pri:0, instance:Generate_Salary_Sleep.GenerateSalarySlipTest@74d1dc36]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292738535</td>   <td></td> </tr>
<tr bgcolor="7aa073">  <td>23/11/25 18:09:44</td>   <td>69391</td> <td title="&lt;&lt;Baseclass.afterSuite()[pri:0, instance:Generate_Salary_Sleep.GenerateSalarySlipTest@74d1dc36]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1292738535</td>   <td></td> </tr>
<tr bgcolor="91f5ca">  <td>23/11/25 18:09:44</td>   <td>69303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GenerateSalarySlipTest.tearDown()[pri:0, instance:Generate_Salary_Sleep.GenerateSalarySlipTest@74d1dc36]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1292738535</td>   <td></td> </tr>
<tr bgcolor="91f5ca">  <td>23/11/25 18:09:41</td>   <td>66234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GenerateSalarySlipTest.Salary_Genaration_Test()[pri:0, instance:Generate_Salary_Sleep.GenerateSalarySlipTest@74d1dc36]">Salary_Genaration_Test</td> 
  <td>main@1292738535</td>   <td></td> </tr>
<tr bgcolor="91f5ca">  <td>23/11/25 18:08:35</td>   <td>240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GenerateSalarySlipTest.startBrowser()[pri:0, instance:Generate_Salary_Sleep.GenerateSalarySlipTest@74d1dc36]">&gt;&gt;startBrowser</td> 
<td>&nbsp;</td>  <td>main@1292738535</td>   <td></td> </tr>
</table>
