<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>Addleave_test.addNewLeave()[pri:0, instance:LeaveManagement.Addleave_test@7161d8d1]<br/></td></tr>
</table>
