<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>NewHR_Test_Suit</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="84a97d">  <td>23/11/26 23:44:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Addleave_test.addNewLeave()[pri:0, instance:LeaveManagement.Addleave_test@7161d8d1]">addNewLeave</td> 
  <td>main@2106592975</td>   <td></td> </tr>
<tr bgcolor="d1a39e">  <td>23/11/26 23:45:23</td>   <td>68077</td> <td title="&lt;&lt;Baseclass.afterSuite()[pri:0, instance:LeaveManagement.Addleave_test@7161d8d1]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2106592975</td>   <td></td> </tr>
<tr bgcolor="84a97d">  <td>23/11/26 23:43:09</td>   <td>-65998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Addleave_test.beforemethod()[pri:0, instance:LeaveManagement.Addleave_test@7161d8d1]">&gt;&gt;beforemethod</td> 
<td>&nbsp;</td>  <td>main@2106592975</td>   <td></td> </tr>
<tr bgcolor="84a97d">  <td>23/11/26 23:45:23</td>   <td>67985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Addleave_test.exittest()[pri:0, instance:LeaveManagement.Addleave_test@7161d8d1]">&lt;&lt;exittest</td> 
<td>&nbsp;</td>  <td>main@2106592975</td>   <td></td> </tr>
<tr bgcolor="d1a39e">  <td>23/11/26 23:43:08</td>   <td>-66203</td> <td title="&gt;&gt;Baseclass.loadConfig()[pri:0, instance:LeaveManagement.Addleave_test@7161d8d1]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2106592975</td>   <td></td> </tr>
</table>
