<h2>Reporter output</h2><table><tr><td><br> <img src='file:////home/prabhat/git/repository2/Pay1/C:\Users\SANDEEP.CHAUHAN\Downloads\ScreenshotSelenium\HR Portal.png' height='400' width='400' /><br></td></tr>
<tr><td>Clicked on Leave Management Button.</td></tr>
<tr><td><br> <img src='file:////home/prabhat/git/repository2/Pay1/C:\Users\SANDEEP.CHAUHAN\Downloads\ScreenshotSelenium\HR Portal.png' height='400' width='400' /><br></td></tr>
<tr><td>Clicked on Add Leave Button.</td></tr>
<tr><td><br> <img src='file:////home/prabhat/git/repository2/Pay1/C:\Users\SANDEEP.CHAUHAN\Downloads\ScreenshotSelenium\HR Portal.png' height='400' width='400' /><br></td></tr>
<tr><td>Enter Leave Type</td></tr>
<tr><td><br> <img src='file:////home/prabhat/git/repository2/Pay1/C:\Users\SANDEEP.CHAUHAN\Downloads\ScreenshotSelenium\HR Portal.png' height='400' width='400' /><br></td></tr>
<tr><td><br> <img src='file:////home/prabhat/git/repository2/Pay1/C:\Users\SANDEEP.CHAUHAN\Downloads\ScreenshotSelenium\HR Portal.png' height='400' width='400' /><br></td></tr>
<tr><td>Leave-Type saved successfully !!</td></tr>
<tr><td><br> <img src='file:////home/prabhat/git/repository2/Pay1/C:\Users\SANDEEP.CHAUHAN\Downloads\ScreenshotSelenium\HR Portal.png' height='400' width='400' /><br></td></tr>
<tr><td><br> <img src='file:////home/prabhat/git/repository2/Pay1/C:\Users\SANDEEP.CHAUHAN\Downloads\ScreenshotSelenium\HR Portal.png' height='400' width='400' /><br></td></tr>
<tr><td><br> <img src='file:////home/prabhat/git/repository2/Pay1/C:\Users\SANDEEP.CHAUHAN\Downloads\ScreenshotSelenium\HR Portal.png' height='400' width='400' /><br></td></tr>
<tr><td>Leave-Type deleted successfully !!</td></tr>
<tr><td><br> <img src='file:////home/prabhat/git/repository2/Pay1/C:\Users\SANDEEP.CHAUHAN\Downloads\ScreenshotSelenium\HR Portal.png' height='400' width='400' /><br></td></tr>
</table>